@import url('https://fonts.googleapis.com/css2?c=Inter&family=Lobster&display=swap');
body{
     margin: 0 auto;
     background-image: url(https://eco-l1fe.github.io/img/bg-dekstop.png);
     background-size: 99%;
     background-repeat: repeat-y;
}
.wrapper {
     height: 2500px;
     width: 1200px;
     margin: 0 auto;
}
h1{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 60px;
     color: red;
     display: inline;
}
#udm{
     
     color: black;
}
.btn{
     margin-left: 60px;
     display: inline;
     color: black;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     text-decoration: none;
}
.link{
     text-decoration: none;
     color: black;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 400;
     margin: 0%;
     font-size: 70px;
}
a:hover{
     color: red;
     transition: 0.5s;
}
.container{
     margin-top: 100px;
     width: 1200px;
     height: 600px;
     position: relative;
     text-align: center; 
     object-fit: cover;
}
img{
     width: 100%;
     height: 100%;
     opacity: 0.5;
     transition:all 0.5s ease;
     border-radius: 2%;
}
img:hover{
     opacity: 0.9;
     transition: 0.5s;
     border-radius: 1%;
}
::-webkit-scrollbar {
     width: 5px; /* ширина для вертикального скролла */
 }
 ::-webkit-scrollbar:hover {
     width: 10px; /* ширина для вертикального скролла */
 }
 ::-webkit-scrollbar-thumb {
     background-color: grey;
     border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:hover {
     background-color: black;
 }
 p{
     font-family: 'Lobster', cursive;
     color: black;
     font-size: 40px;
     opacity: 0.5;
     transition:all 0.5s ease;
 }
 p:hover{
      cursor: pointer;
     opacity: 1;
     transition: 2s;
 }
 .gerb{
     width: 100px;
     height: 100px;
     margin-left: 50%;
     animation: pulse 2.5s linear infinite;
 }
@keyframes pulse {
   0% {
     transform: scale(0.5);
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   100% {
     transform: scale(1.2);
     opacity: 0;
   }
 }
.stagestory{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 60px;
     color: Black;
     display: inline;
     cursor: default;
}
#textstory{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 30px;
     color: Black;
     cursor: default;
}
#storyimg{
     margin: 0 auto;
     align-items: center;
     width: 300px;
}
.stages{
     width: 60%;
     margin-left: 10px;
     overflow-x: scroll;
     white-space:nowrap;
     white-space: nowrap;
}
.stagestext{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
     color: Black;
     text-decoration: none;
     margin-left: 10px;
}
.stages::-webkit-scrollbar {
     height: 5px;
   }
